<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>跑马灯</string>
		<key>class</key>
		<string>MarqueeDemo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>倒计时</string>
		<key>class</key>
		<string>CountdownVCDemo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>轮播</string>
		<key>class</key>
		<string>CyclePagerViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>网络监测</string>
		<key>class</key>
		<string>RealReachabilityController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>音视频录制</string>
		<key>class</key>
		<string>RecorderViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>导航栏</string>
		<key>class</key>
		<string>NavigationController</string>
	</dict>
</array>
</plist>
